<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="navsharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <navsharp.Properties.Settings>
            <setting name="weight_save" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="length_save" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="look_ahead_save" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="lines_to_draw_save" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="look_ahead_to_lines_save" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="controller_port_save" serializeAs="String">
                <value />
            </setting>
            <setting name="satellite_module_port_save" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </navsharp.Properties.Settings>
    </userSettings>
</configuration>